<h1>All Cards</h1>

<% @cards.each do |card| %>
<h2><%= link_to card.name, card_path(card) %></h2> <br>
  <a href="<%= card_path(card) %>"><img src="<%= card.pic_url %>"></a> <br>
<% end %>

<a href="<%= new_card_path %>">Create a new card!</a>
